
	<%if message.user == current_user%>
		<div id	="message_<%=message.id%>" class="right">
			<p><%=message.text%></p>
		</div>
	<%else%>
			<div class	="message_<%=message.id%>" class="left">
			<p><%=message.text%></p>
		</div>
	<%end%>
