



<div class="container">
	<div class="row edit-form">
	
	
		<div class="panel panel-default">
  			<!-- Default panel contents -->
  			<div class="panel-heading">Panel heading</div>

  			<!-- Table -->
 				 <table class="table">
    				<thead>
						<tr>
						<th>id</th>
						<th>first_name</th>
						<th>last_name</th>
						<th>email</th>
						</tr>
					</thead>	
					<tbody>
	
						<tr>
				
		
							<th><%= @account.id%>  </th>
							<th><%= @account.first_name%> </th>
							<th><%= @account.last_name%> </th>
							<th><%= @account.email%> </th>

							<th><button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Edit</button></th>
							<th><button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Delete</button></th>
						</tr>
						
	
			
					</tbody>
  				</table>
		</div>

	</div>
</div>