
<div class="container">
  <h2>Hover Rows</h2>
  <p>The .table-hover class enables a hover state on table rows:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
<% @account.each do |acc| %>
      <tr>
        <td><%= link_to "#{acc.first_name}",  user_path(acc) %></td>
        <td><%=acc.last_name%></td>
        <td><%=acc.email%></td>
      </tr>
      
<%end %>
    </tbody>
  </table>
</div>