
<div class="container">
	<div class="form-inline">

		
		<%= link_to 'Sign in' , sign_in_path, class: 'btn btn-default' %>
		<%= link_to 'Sign up' ,sign_up_path, class: 'btn btn-default' %>
	</div>
</div>