@import "bootstrap-sprockets";
@import "bootstrap";
@import "chosen";
@import "bootstrap-chosen";
@import "users.scss";
@import "sessions.scss";
@import "article.scss";
@import "home.scss";
@import "comment.scss";
@import "toastr";
@import "talks.scss";
@import "messages.scss";
@import "alert.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
	font-family: 'Roboto Slab', serif;
}
label{
	font-size: 85% !important;
}
.field_with_errors .control-label{
	background-color:red ;
	color:white ;
}

nav.header{
	border-bottom: 1px solid #BBBBBB;
	background-color: white;
	font-size: 18px;
	opacity: 0.7;	
	a{
		font-weight:lighter ;
		color: black;

	}
	
	}
	table{
		.table{
	display:block !important;
	overflow-x: auto !important;
}	
	}
	

	

ul {
	list-style-type:none;	
}

body{
	background-color:#EEEEEE;
}
section.content{
	font-size:20px;
	height:30px;
}

