@import "bootstrap-sprockets";
@import "bootstrap";
@import "users.scss";
@import "sessions.scss";
@import "article.scss";
@import "home.scss";
nav.header{
	
	background-color: black;
	font-size: 18px;
		

	
}
ul {
	list-style-type:none;	
}

body{
	background-color:#EEEEEE;
}